DEBUG=1
SECRET_KEY=troque-por-uma-chave-secreta
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=bookstore_db
SQL_USER=usuario-do-banco
SQL_PASSWORD=senha-do-banco
SQL_HOST=db
SQL_PORT=5432
